/*
 * used by footer
 */
/*
 * used by labels
 */
/*
 * used by input texts
 */
/*
 * used by button texts
 */
html,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
h2 {
  color: #4e8416;
}
label {
  display: block;
  font-size: 14px;
}
/********************************
 * HEADER
 ********************************/
/*
 * company logo
 */
.header-logo {
  display: block;
}
/*
 * contact information
 */
.header-contact-info {
  text-align: right;
}
.header-contact-info p {
  height: 18px;
  line-height: 18px;
}
/*
 * bottom border
 */
.header-bottom {
  height: 36px;
  background-color: #4e8416;
}
/********************************
 * MAIN CONTENT
 *********************************/
.content-header {
  padding: 5px;
}
.content-header p {
  font-size: 16px;
}
/*
 * NOTE: only shown on mobile devices
 */
.dial-container {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.dial-container button {
  background-color: #4e8416;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 24px;
}
.dial-container button i {
  margin-right: 5px;
}
.dial-container button a {
  color: white;
}
.input-box input {
  /*remove the ugly default input highlighting*/
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  background-color: #f7f7f7;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #676767;
  font-size: 16px;
  margin-top: 5px;
  padding-left: 10px;
  transition: border-color 0.5s;
}
.input-box input:focus {
  border-color: #303030;
  border-width: 2px;
  transition: border-color 0.5s;
}
.input-box select {
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  background-color: #f7f7f7;
  margin-top: 5px;
  padding-left: 10px;
  border: 1px solid #676767;
  width: 300px;
  height: 38px;
  font-size: 16px;
}
.input-box select:focus {
  border-width: 2px;
}
textarea {
  /*remove the ugly default input highlighting*/
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  margin-top: 5px;
  padding-left: 10px;
  border: 1px solid #676767;
  border-radius: 4px;
  background-color: #f7f7f7;
  transition: border 0.3s;
}
textarea:focus {
  border-width: 2px;
  border-color: #303030 !important;
}
.radio-btn-container {
  /*
	 * overrides humana css framework in order to position adjacent
	 * radio buttons closer together
	 */
  float: left !important;
}
.radio-btn-container label {
  margin-top: 5px;
}
.radio-btn-container input {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 0;
  height: 20px;
  width: 20px;
}
/*
 * state selection input has a smaller width
 */
select[name="state"] {
  width: 150px;
}
.submit-btn {
  display: block;
  position: relative;
  margin-top: calc(40px);
  width: 100%;
  height: 60px;
  border-width: 0;
  border-radius: 5px;
  font-size: 24px;
  background-color: #AA005F;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
.submit-btn:hover {
  background-color: #970054;
  transition: background-color 0.5s;
}
.submit-btn:disabled {
  cursor: not-allowed;
  background-color: #dddddd;
  transition: background-color 0.5s;
}
.submit-btn .submit-loading-bar {
  position: absolute;
  font-size: 24px;
  left: 12.5%;
  top: 28%;
  color: white;
}
.symbol-required {
  display: inline;
  color: #aa005f;
}
/*
 * styles invalid input fields
 */
.invalid {
  color: red;
  border-color: red !important;
}
/*
 * styles valid input fields
 */
.valid {
  border-color: #0dad37 !important;
}
.phone-info-section {
  box-sizing: border-box;
  border: 2px solid #4e8416;
  border-radius: 5px;
  float: right;
  padding: 30px;
}
.phone-info-section .advertisement {
  margin-top: 10px;
}
.phone-info-section .contact-details {
  margin-top: 10px;
}
footer {
  margin-top: 50px;
}
footer .footer-logo {
  padding: 5px;
  background-color: #4e8416;
}
footer .footer-logo img {
  width: 150px;
  height: 30px;
  vertical-align: middle;
}
footer .social-links {
  margin: 50px;
  text-align: center;
}
.text-small {
  font-size: 12px;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.show-on-mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  /*
	 * hide elements with class 'hidden-on-phone' on mobile devices
	 */
  .hidden-on-mobile {
    display: none;
  }
  /*
	 * show elements with class 'show-on-phone' on mobile devices
	 */
  .show-on-mobile {
    display: block;
  }
}
