@primary-palette: #4e8416;

/*
 * used by footer
 */
@font-size-xsmall: 12px;
/*
 * used by labels
 */
@font-size-small: 14px;
/*
 * used by input texts
 */
@font-size-medium: 16px;
/*
 * used by button texts
 */
@font-size-large: 24px;

// submit button
@action-palette: #AA005F;
@action-palette-hover: #970054;
@action-palette-disabled: #dddddd;

@label-font-size: @font-size-small;
// inputs
@input-border-radius: 4px;
@input-border-width: 1px;
@input-border-width-focus: 2px;

@input-border-color: #676767;
@input-border-color-focus: #303030;
@input-background-color: #f7f7f7;
@input-border-color-valid: #0dad37;
@input-border-color-invalid: #aa0008;

@input-left-padding: 10px;
@input-space: 20px;
@input-to-label-space: 5px;
@input-font-size: @font-size-medium;
@required-asterisk-palette: #aa005f;

html,
body,
h1,
h2,
p {
	margin: 0;
	padding: 0;
}

h2 {
	color: @primary-palette;
}

label {
	display: block;
	font-size: @label-font-size;
}
/********************************
 * HEADER
 ********************************/
/*
 * company logo
 */
.header-logo {
	display: block;
}

/*
 * contact information
 */
.header-contact-info {
	p {
		height: 18px;
		line-height: 18px;
	}
	text-align: right;
}

/*
 * bottom border
 */
.header-bottom {
	height: 36px;
	background-color: @primary-palette;
}
/********************************
 * MAIN CONTENT
 *********************************/
.content-header {
	padding: 5px;
	p {
		font-size: @font-size-medium;
	}
}

/*
 * NOTE: only shown on mobile devices
 */
.dial-container {
	text-align: center;
	margin: 0 auto;
	margin-top: @input-space;
	button {
		// phone dial image
		i {
			margin-right: 5px;
		}
		// phone number
		a {
			color:white;
		}
		background-color: @primary-palette;
		width: 100%;
		height: 60px;
		text-align: center;
		color: white;
		border: none;
		outline: none;
		border-radius: 4px;
		font-size: @font-size-large;
	}
}

.input-box {
	input {
		/*remove the ugly default input highlighting*/
		outline: none !important;
		outline-style:none !important;
		box-shadow:none !important;

		background-color: @input-background-color;
		height: 38px;
		border-radius: @input-border-radius;
		border: @input-border-width solid @input-border-color;
		font-size: @input-font-size;
		margin-top: @input-to-label-space;
		padding-left: @input-left-padding;
		transition: border-color 0.5s;
		&:focus {
			border-color: @input-border-color-focus;
			border-width: @input-border-width-focus;
			transition: border-color 0.5s;
		}
	}

	select {
		outline: none !important;
		outline-style:none !important;
		box-shadow:none !important;

		background-color: @input-background-color;
		margin-top: @input-to-label-space;
		padding-left: @input-left-padding;
		border: @input-border-width solid @input-border-color;
		width: 300px;
		height: 38px;
		font-size: @input-font-size;

		&:focus {
			border-width: @input-border-width-focus;
		}
	}
}

textarea {
		/*remove the ugly default input highlighting*/
		outline: none !important;
		outline-style:none !important;
		box-shadow:none !important;

		box-sizing: border-box;
		width: 100%;
		font-size: @input-font-size;
		margin-top: @input-to-label-space;
		padding-left: @input-left-padding;
		border: @input-border-width solid @input-border-color;
		border-radius: @input-border-radius;
		background-color: @input-background-color;
		transition: border 0.3s;
		&:focus {
			border-width: @input-border-width-focus;
			border-color: @input-border-color-focus !important;
		}
}

.radio-btn-container {
	/*
	 * overrides humana css framework in order to position adjacent
	 * radio buttons closer together
	 */
	float: left !important;

	label {
		margin-top: @input-to-label-space;
	}

	input {
		vertical-align: middle;
    margin-right: 5px;
		margin-top: 0;
		height: 20px;
		width: 20px;
	}
}

/*
 * state selection input has a smaller width
 */
select[name="state"] {
	width: 150px;
}


.submit-btn {
	display: block;
	position: relative;
	margin-top: calc(2 * @input-space);
	width: 100%;
	height: 60px;
	border-width: 0;
	border-radius: 5px;
	font-size: @font-size-large;
	background-color: @action-palette;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	transition: background-color 0.5s;

	&:hover {
		background-color: @action-palette-hover;
		transition: background-color 0.5s;
	}

	&:disabled {
		cursor: not-allowed;
		background-color: @action-palette-disabled;
		transition: background-color 0.5s;
	}

	.submit-loading-bar {
		position: absolute;
		font-size: @font-size-large;
		left: 12.5%;
		top: 28%;
		color: white;
	}

}

.symbol-required {
	display: inline;
	color: @required-asterisk-palette;
}

/*
 * styles invalid input fields
 */
.invalid {
	color: red;
	border-color: red !important;
}

/*
 * styles valid input fields
 */
.valid {
	border-color: @input-border-color-valid !important;
}

.phone-info-section {
	box-sizing: border-box;
	border: 2px solid @primary-palette;
	border-radius: 5px;
	float: right;
	padding: 30px;

	.advertisement {
		margin-top: 10px;
	}
	.contact-details {
		margin-top: 10px;
	}
}

footer {
	margin-top: 50px;
	.footer-logo {
		padding: 5px;
		background-color: @primary-palette;
		img {
			width: 150px;
			height: 30px;
			vertical-align: middle;
		}
	}

	.social-links {
		margin: 50px;
		text-align: center;
	}
}
.text-small {
	font-size: @font-size-xsmall;
}

.hidden {
	display: none;
}
.show {
	display: block;
}
.show-on-mobile {
	display: none;
}

@media screen and (max-width: 600px) {
	/*
	 * hide elements with class 'hidden-on-phone' on mobile devices
	 */
	.hidden-on-mobile {
		display: none;
	}
	/*
	 * show elements with class 'show-on-phone' on mobile devices
	 */
	.show-on-mobile {
		display: block;
	}
}
